*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f3ee;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
